*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-all{
    background: linear-gradient(#F05454,#30475E,#121212);
}

.slider{
    width: 50vw;
    height: 50vh;
    position: relative;
}

.item{
    display: none;
}

.item-slider, .item, img{
    height: 100%
}


.item img{
    width: 100%;
    object-fit: cover;

}

/* thumbails */

.thumbnails{
    float: right;
    display: flex;
    flex-direction: column;
    height: 50vh;
    background-color: black;
}

.thumb{
    width: 100%;
    height: calc(100% / 5);
    opacity: .5;
}

.thumb img{
    width: 100%;
    object-fit: cover;
}

.thumb.active{
    outline: 2px solid rgba(29, 29, 29, 0.822);
    opacity: 1;
}

.arrow{
    position: absolute;
    width: 30px;
    background-color: rgba(255, 255, 255, 0.548);
    border-radius: 50px;
    font-weight: 800; 
    left: 113%;
    font-size: 20px;
    transform: translateX(-50%);
    text-align: center;
    cursor: pointer;
    z-index: 99;
}

.desc{
    text-align: end;
    position: absolute;
    padding-left: 1em;
    right: 1em;
    bottom: 0;
    z-index: 5;
}

.next{
    top: 5px; 
}

.prev{
    bottom: 5px;
}

.prev:hover, .next:hover{
    background-color: rgba(174, 174, 174, 1);   
}

.item.active{
    display: block;
}

.circles-container{
    display: flex;
    justify-content: center;
}

.circle{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(174, 174, 174, 0.509);
    margin: 10px;
    cursor: pointer;
}

.circle.active, .circle:hover{
    background-color: rgba(174, 174, 174, 1); 
}


